<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title><%= locals.title ? title : 'RGS' %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <meta name="description" content="Web App PT.Rekatama Global Sinergi.">
    <meta name="msapplication-tap-highlight" content="no">
    
	<!--
    =========================================================
    * ArchitectUI HTML Theme Dashboard - v1.0.0
    =========================================================
    * Product Page: https://dashboardpack.com
    * Copyright 2019 DashboardPack (https://dashboardpack.com)
    * Licensed under MIT (https://github.com/DashboardPack/architectui-html-theme-free/blob/master/LICENSE)
    =========================================================
    * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
    -->
    
    <%- include('../partial/header') %>

</head>
<body>
    <div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
        
        <%- include('../partial/app-header') %>
        <%- include('../partial/ui-theme-setting') %>
		
        <div class="app-main">

            <%- include('../partial/menu') %>

            <div id="test" class="app-main__outer">
                <div class="app-main__inner">

                    <%- include('../partial/app-page-title') %>

                    <div class="row">

                        <div class="col-sm-12">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                  <li class="breadcrumb-item"><a href="/project">List Project</a></li>
                                  <li class="breadcrumb-item active" aria-current="page"><%= project.name %></li>
                                </ol>
                            </nav>
                        </div>

                        <div class="col-md-12 col-xl-12">
                            <div class="card">
                                <div class="card-body row">
                                    <div class="col-sm-6 text-center">
                                        <img src="/assets/images/project/<%= project.picture %>" alt="" class="img-fluid" style="max-height: 200px;">
                                    </div>
                                    <div class="col-sm-6">
                                        <h4><%= project.name %></h4>
                                        <p><%- project.description %></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 col-xl-12 mt-2">
                            <div class="card">
                                <div class="card-body">
                                    <table class="table table-sm table-hover table-striped">
                                        <thead class="table-dark">
                                            <tr>
                                                <th>#</th>
                                                <th>Nama</th>
                                                <th>Level</th>
                                                <th>ID</th>
                                                <th>Hp</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% for (let i = 0; i < users.length; i++) { %>
                                                <tr>
                                                    <td><%= i+1 %></td>
                                                    <td>
                                                        <a href="/list_users/<%= users[i].id%>"><%= users[i].name %></a>
                                                    </td>
                                                    <td><%= users[i].level %></td>
                                                    <td><%= users[i].id %></td>
                                                    <td><%= users[i].hp %></td>
                                                </tr>
                                            <% } %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

                <%- include('../partial/footer') %>

            </div>

        </div>
    </div>
</body>
</html>