<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title><%= locals.title ? title : 'RGS' %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <meta name="description" content="Web App PT.Rekatama Global Sinergi.">
    <meta name="msapplication-tap-highlight" content="no">
    
	<!--
    =========================================================
    * ArchitectUI HTML Theme Dashboard - v1.0.0
    =========================================================
    * Product Page: https://dashboardpack.com
    * Copyright 2019 DashboardPack (https://dashboardpack.com)
    * Licensed under MIT (https://github.com/DashboardPack/architectui-html-theme-free/blob/master/LICENSE)
    =========================================================
    * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
    -->
    
	<%- include('../partial/header') %>
    <script src="/assets/vendors/jquery-3.6.0/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="/assets/vendors/data-Tables/jquery.dataTables.min.css">
    <script src="/assets/vendors/data-Tables/jquery.dataTables.min.js"></script>

</head>
<body>
    <div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
        
		<%- include('../partial/app-header') %>
        <%- include('../partial/ui-theme-setting') %>
		
        <div class="app-main">

			<%- include('../partial/menu') %>

            <div id="test" class="app-main__outer">
                <div class="app-main__inner">

                    <%- include('../partial/app-page-title') %>

                    <div class="d-flex flex-wrap justify-content-between">
                        <div class="col-md-12 col-lg-12">
                            <div class="mb-3 card">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-sm table-hover table-striped">
                                            <thead class="table-dark">
                                                <tr>
                                                    <th>#</th>
                                                    <th>ITEM</th>
                                                    <th>ID DB</th>
                                                    <th>UNIT</th>
                                                    <th>PEKERJAAN</th>
                                                    <th>MENU</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% for (let i = 0; i < item.length; i++) { %>
                                                    <tr>
                                                        <td><%= i+1 %></td>
                                                        <td id="<%= item[i].id %>-nama">
                                                            <%= item[i].name %>
                                                        </td>
                                                        <td>DB : <%= item[i].id %></td>
                                                        <td id="<%= item[i].id %>-unit"><%= item[i].unit %></td>
                                                        <td id="<%= item[i].id %>-pekerjaan"><%= item[i].pekerjaan %></td>
                                                        <td>
                                                            <button class="btn btn-sm btn-warning update-item" data-id="<%= item[i].id %>" data-nama="<%= item[i].name%>" data-unit="<%= item[i].unit%>" data-pekerjaan="<%= item[i].pekerjaan%>">
                                                                <i class="pe-7s-menu"></i>
                                                            </button>
                                                            <a href="/items_control/check?item=<%= item[i].id %>" target="_blank">
                                                                <button class="btn btn-sm btn-info">
                                                                    <i class="pe-7s-info"></i>
                                                                </button>
                                                            </a>
                                                            <button class="btn btn-sm btn-danger hapus-item" data-id="<%= item[i].id %>">
                                                                <i class="pe-7s-trash"></i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                <% } %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <%- include('../partial/footer') %>
                <script src="/assets/scripts/items.js"></script>

            </div>

        </div>
    </div>
</body>
</html>