<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title><%= locals.title ? title : 'RGS' %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <meta name="description" content="Web App PT.Rekatama Global Sinergi.">
    <meta name="msapplication-tap-highlight" content="no">
    
	<!--
    =========================================================
    * ArchitectUI HTML Theme Dashboard - v1.0.0
    =========================================================
    * Product Page: https://dashboardpack.com
    * Copyright 2019 DashboardPack (https://dashboardpack.com)
    * Licensed under MIT (https://github.com/DashboardPack/architectui-html-theme-free/blob/master/LICENSE)
    =========================================================
    * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
    -->
    
	<%- include('../partial/header') %>

</head>
<body>
    <div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
        
		<%- include('../partial/app-header') %>
        <%- include('../partial/ui-theme-setting') %>
		
        <div class="app-main">

			<%- include('../partial/menu') %>

            <div id="test" class="app-main__outer">
                <div class="app-main__inner">

                    <%- include('../partial/app-page-title') %>

                    <div class="row">
                        
                        <div class="col-md-12 col-lg-12">

                            <div class="row">
                                <div class="col-sm-3">
                                    <form class="custom-search" accept="/purchase_orders">
                                        <input type="hidden" name="project" value="<%= project %>">
                                        <input type="text" name="search" class="form-control">
                                        <button>
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </form>
                                </div>
                                <div class="col-sm-6 d-flex align-items-center">
                                    <b>Total Nilai PO <%= project %> <%= locals.totalNilaiPo ? totalNilaiPo.toLocaleString('id-ID', {style:"currency", currency: 'IDR'}) : '-' %></b>
                                </div>
                            </div>
    
                            <hr>

                            <div class="mb-3 card">
                                <% if (po.length > 0) { %>
                                <div class="card-body table-responsive">
                                    <table class="table table-sm table-striped table-hover">
                                        <thead class="text-center table-dark">
                                            <tr>
                                                <th class="align-middle">No</th>
                                                <th class="align-middle">PO Number</th>
                                                <th class="align-middle">Status</th>
                                                <th class="align-middle">Project</th>
                                                <th class="align-middle">Supplier</th>
                                                <th class="align-middle">Item</th>
                                                <th class="align-middle">Nilai PO</th>
                                                <th class="align-middle">Pembayaran</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% let x = 0;
                                                const arrayStatus = ['error','Pengajuan','Revisi','Approve'];
                                                const arrayBadgeColor = ['badge-secondary','badge-primary','badge-danger','badge-success']

                                                for (i = 0; i < po.length; i++) { %>

                                                <% const itemsList = po[i].items %>
                                                <!-- untuk harga -->
                                                <% let harga = 0; for (let i = 0; i < itemsList.length; i++) {
                                                    harga += itemsList[i].po_price * itemsList[i].po_qty
                                                } %>
                                                <% x += harga %>

                                                <!-- untuk pembayaran -->
                                                <% const pembayaranList = po[i].pembayaran %>
                                                <% let pemb = 0 %>
                                                <% for (let i = 0; i < pembayaranList.length; i++) { %>
                                                    <% pemb += pembayaranList[i].po_bayar_nilai %>
                                                <% } %>
                                                <!--hr-->
                                                <% if(pemb > harga) {
                                                    var textColor = 'text-danger'
                                                } else if (pemb < harga) {
                                                    var textColor = 'text-secondary'
                                                } else {
                                                    var textColor = 'text-primary'
                                                } %>
                                                <tr>
                                                    <td class="align-top"><%= i + 1 %></td>
                                                    <td class="align-top font-weight-bold">
                                                        <a href="/purchase_orders?project=<%= po[i].project %>&po_number=<%= po[i].po_number %>">
                                                            <%= po[i].po_number %>
                                                        </a>
                                                    </td>
                                                    <td class="align-top">
                                                        <div class="badge badge-pill <%= arrayBadgeColor[po[i].bod_approve] %>">
                                                            <%= arrayStatus[po[i].bod_approve] %>
                                                        </div>
                                                    </td>
                                                    <td class="align-top"><%= po[i].project %></td>
                                                    <td class="align-top">
                                                        <%= po[i].supplier %>
                                                    </td>
                                                    <td class="align-top">
                                                        <% for (let i = 0; i < itemsList.length; i++) { %>
                                                            <%= itemsList[i].name.trim() %><%= i - 1 != itemsList.length ? ', ' : '' %>
                                                        <% } %>
                                                    </td>
                                                    <td class="align-top text-right font-weight-bold">
                                                        <%= 'Rp '+harga.toLocaleString() %>
                                                    </td>
                                                    <td class="align-top text-right font-weight-bold <%= textColor %>">
                                                        <%= 'Rp '+pemb.toLocaleString() %>
                                                    </td>
                                                </tr>
                                            <% } %>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <th><%= x %></th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                <% } else { %>
                                    <div class="d-flex justify-content-center py-2 font-weight-bold">
                                        TIDAK ADA DATA
                                    </div>
                                <% } %>
                            </div>
                        </div>
                    </div>

                </div>

                <%- include('../partial/footer') %>
                <script>
                    
                    $(document).ready( function () {
                        $('.table').DataTable({
                            "footerCallback": function ( row, data, start, end, display ) {
                                var api = this.api(), data;
                    
                                // Remove the formatting to get integer data for summation
                                var intVal = function ( i ) {
                                    return typeof i === 'string' ?
                                        i.replace(/[Rp ,]/g, '')*1 :
                                        typeof i === 'number' ?
                                            i : 0;
                                };
                    
                                // Total over all pages
                                totalNilaiPo = api
                                    .column( 6 )
                                    .data()
                                    .reduce( function (a, b) {
                                        return intVal(a) + intVal(b);
                                    }, 0 );
                                totalPembayaran = api
                                    .column( 7 )
                                    .data()
                                    .reduce( function (a, b) {
                                        return intVal(a) + intVal(b);
                                    }, 0 );
                    
                                // Total over this page
                                pageTotal = api
                                    .column( 6, { page: 'current'} )
                                    .data()
                                    .reduce( function (a, b) {
                                        return intVal(a) + intVal(b);
                                    }, 0 );
                    
                                // Update footer
                                $( api.column( 6 ).footer() ).html(
                                    //'$'+pageTotal +' ( $'+ total +' total)'
                                    totalNilaiPo.toLocaleString('id-ID', {style: 'currency', currency: 'IDR'})
                                    //Rp 9.637.840.460,80
                                );
                                $( api.column( 7 ).footer() ).html(
                                    //'$'+pageTotal +' ( $'+ total +' total)'
                                    totalPembayaran.toLocaleString('id-ID', {style: 'currency', currency: 'IDR'})
                                    //Rp 9.637.840.460,80
                                );
                            }
                        });
                    } );

                </script>

            </div>

        </div>
    </div>
</body>
</html>