<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title><%= locals.title ? title : 'RGS' %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <meta name="description" content="Web App PT.Rekatama Global Sinergi.">
    <meta name="msapplication-tap-highlight" content="no">
    
	<!--
    =========================================================
    * ArchitectUI HTML Theme Dashboard - v1.0.0
    =========================================================
    * Product Page: https://dashboardpack.com
    * Copyright 2019 DashboardPack (https://dashboardpack.com)
    * Licensed under MIT (https://github.com/DashboardPack/architectui-html-theme-free/blob/master/LICENSE)
    =========================================================
    * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
    -->
    
	<%- include('../partial/header') %>

</head>
<body>
    <div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
        
		<%- include('../partial/app-header') %>
        <%- include('../partial/ui-theme-setting') %>
		
        <div class="app-main">

			<%- include('../partial/menu') %>

            <div id="test" class="app-main__outer">
                <div class="app-main__inner">

                    <%- include('../partial/app-page-title') %>

                    <div class="d-flex flex-wrap justify-content-between">
                        <div class="col-md-12 col-lg-12">
                            <div class="mb-3 card">
                                <div class="card-body">
                                    
                                    <div class="d-flex justify-content-between mb-2">
                                        <div>
                                            <form id="form-search">
                                                <div class="input-group">
                                                    <input type="text" name="name" class="form-control">
                                                    <div class="input-group-append">
                                                        <button class="btn btn-outline-secondary" type="submit">Search</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>

                                        <div>
                                            <button id="add-record-button" data-toggle="modal" data-target="#add-record" class="btn btn-danger">ADD RECORD</button>
                                        </div>
                                    </div>

                                    <div class="table-responsive">
                                        <table id="table-assets" class="table table-sm table-hover table-striped">
                                            <thead class="table-dark text-center">
                                                <tr>
                                                    <th class="align-middle">#</th>
                                                    <th class="align-middle">Nama</th>
                                                    <th class="align-middle">Alamat</th>
                                                    <th class="align-middle">Hp</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tbody">
                                                <% if (locals.mandor) { %>
                                                    <% let no = 1; mandor.forEach(key => { %>
                                                        <tr>
                                                            <td><%= no++ %></td>
                                                            <td>
                                                                <a href="/rekanan/mandor?detil=<%= key.mandor_id %>" class="font-weight-bold">
                                                                    <%= key.mandor_nama %>
                                                                </a>
                                                            </td>
                                                            <td><%= key.mandor_alamat %></td>
                                                            <td><%= key.mandor_hp %></td>
                                                        </tr>
                                                    <% }) %>
                                                <% } %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <%- include('../partial/footer') %>

            </div>
        </div>

        <div id="add-record" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            <button class="btn btn-danger">
                                Add Record <span id="buat-baru" class="badge badge-warning">Buat Baru</span>
                            </button>
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form id="tambah-mandor">
                        <div class="modal-body">
                            <label class="my-1 mr-2" for="nama">Nama</label>
                            <input type="text" name="mandor_name" class="form-control" id="nama">
                            <label class="my-1 mr-2" for="hp">Hp</label>
                            <input class="form-control my-1 mr-sm-2" name="mandor_hp" id="hp">
                            <label class="my-1 mr-2" for="alamat">Alamat</label>
                            <textarea  class="form-control my-1 mr-sm-2" name="mandor_alamat" id="alamat" rows="3"></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="submimt" class="btn btn-primary">Submit</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <script>

            const formSearch = document.getElementById('form-search')
            formSearch.addEventListener('submit', (e) => {
                const name = document.getElementsByName('name')[0]
                e.preventDefault()
                if (name.value) {
                    location.href = '/rekanan/mandor?cari='+name.value
                } else {
                }
            })

            const tambahMandor = document.querySelector('#tambah-mandor')
            tambahMandor.addEventListener('submit', (e) => {
                e.preventDefault()
                const formData = new FormData(tambahMandor)
                let data = {}
                formData.forEach( (val, key) => {
                    data[key] = val
                })
                postData('/rekanan/mandor/addData', data)
                .then (resp => {
                    if (resp.status == 'success') {
                        location.href = '/rekanan/mandor?detil='+resp.id
                    } else {
                        toastFailed(resp.message)
                    }
                })
            })

        </script>

    </div>
</body>
</html>